<%= form_with(model: question, local: true) do |form| %>
  <% if question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Title
  <%= form.text_field :title %>
  <br>
  Theme
  <%= form.text_field :theme %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
