<%= form_with(model: answer, local: true) do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  Content
  <%= form.text_field :content %>
  <br>
  Question
  <%= form.collection_select :question_id, Question.all, :id, :title %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
